In [10]:
import json
import pandas as pd
import os
import time

In [14]:
with open('Team1_Google.json') as f:
    json_1 = json.load(f)


# In[8]:


dict_1 = dict(json_1)


# In[11]:


df_1 = pd.DataFrame.from_dict(dict_1)


# In[12]:


df_1.head()

                                                 text sentiment
1   Thank you, Ellen. We have a strong 2018, with ...  positive
10  Stock-based compensation totaled $2.3 billion....  positive
11  Operating income was $8.2 billion, up 7% versu...  positive
12  Our effective tax rate was 11.2% for the fourt...  positive
13  Turning now to CapEx and operating cash flow. ...   neutral

In [15]:
with open('Team2_Amazon.json') as f:
    json_2 = json.load(f)

dict_2 = dict(json_2)

df_2 = pd.DataFrame.from_dict(dict_2)


# In[14]:


df_2.head()

                                                 text sentiment
1   Yeah. And on unit deceleration, I think the un...  positive
10  During this call, we may discuss certain non-G...   neutral
11  Our guidance incorporates the order trends tha...   neutral
12  Our guidance also assumes, among other things,...   neutral
13  Great. Thank you. I guess I'll ask about units...   neutral

In [16]:
with open('Team3_Facebook.json') as f:
    json_3 = json.load(f)


# In[8]:


dict_3 = dict(json_3)


# In[11]:


df_3 = pd.DataFrame.from_dict(dict_3)


# In[12]:


df_3.head()

                                                  text sentiment
1    Thank you. Good afternoon, and welcome to Face...  positive
10   So first, continue making progress on the majo...  positive
100                                     Lloyd Walmsley   neutral
101  Two if I can. First, Mark, it sounds like ther...   neutral
102                                       David Wehner   neutral

In [41]:

with open('Team5_Microsoft.json') as f:
    json_5 = json.load(f)


# In[8]:


dict_5 = dict(json_5)


# In[11]:


df_5 = pd.DataFrame.from_dict(dict_5)


# In[12]:


df_5.head()

                                                  text sentiment
1    Greetings and welcome to the Microsoft Fiscal ...   neutral
10   With that as a backdrop, I want to highlight k...  positive
100  Excellent. Thank you, guys, for taking the que...  positive
101  Thanks, Keith, for the question. Let me start ...  positive
102  We also, during that one year, done integratio...  positive

In [42]:
##### with open('Team6_Tesla.json') as f:
    json_6 = json.load(f)


# In[8]:


dict_6 = dict(json_6)


# In[11]:


df_6 = pd.DataFrame.from_dict(dict_6)


# In[12]:


df_6.head()

IndentationError: unexpected indent (<ipython-input-42-67c2996921bf>, line 2)

In [20]:
with open('Team7_Walmart.json') as f:
    json_7 = json.load(f)


# In[8]:


dict_7 = dict(json_7)


# In[11]:


df_7 = pd.DataFrame.from_dict(dict_7)


# In[12]:


df_7.head()

                                                  text sentiment
1    Greetings and welcome to Walmart's Fiscal Year...   neutral
10   Sam's Club comps improved to 2.4%, and in Inte...  positive
100  Our next question comes from the line of Robbi...   neutral
101                                Good morning, guys.   neutral
102                                       Hey, Robbie.   neutral

In [51]:
with open('Team8_Kroger.json') as f:
    json_8 = json.load(f)


# In[8]:


dict_8 = dict(json_8)


# In[11]:


df_8 = pd.DataFrame.from_dict(dict_8)


# In[12]:


df_8.head()

                                                  text sentiment
0    Good morning, and welcome to The Kroger Compan...   Neutral
1    Thank you, Laura. Good morning and thank you f...  Positive
10   We are very pleased with the growth of digital...  Positive
100  Great, thanks. So just a follow-up on that foo...   Neutral
101  Yeah, our expectations for inflation in 2019 i...   Neutral

In [44]:
with open('Team9_GoldmanSachs.json') as f:
    json_9 = json.load(f)


# In[8]:


dict_9 = dict(json_9)


# In[11]:


df_9 = pd.DataFrame.from_dict(dict_9)


# In[12]:


df_9.head()

                                                  text sentiment
1    Goldman Sachs Group, Inc. (NYSE:GS) Q4 2018 Ea...   Neutral
10                Guy Moszkowski - Autonomous Research   Neutral
100  Sure. So let me make one sort of opening comme...  Positive
101                                           Operator   Neutral
102  Your next question is from the line of Christi...   Neutral

In [45]:
with open('Team10_NVIDIA.json') as f:
    json_10 = json.load(f)


# In[8]:


dict_10 = dict(json_10)


# In[11]:


df_10 = pd.DataFrame.from_dict(dict_10)


# In[12]:


df_10.head()

                                                  text sentiment
1    Thank you. Good afternoon, everyone. And welco...  positive
10   As we look past Q1, we expect the channel inve...  positive
100  And your last question comes from the line of ...   neutral
101  On the China gaming weakness, is it the slower...  negative
102  I don't know that we could tear that apart, te...  negative

In [46]:
with open('Team11_Boeing.json',encoding="utf8") as f:
 json_11 = json.load(f)


# In[8]:


dict_11 = dict(json_11)


# In[11]:


df_11 = pd.DataFrame.from_dict(dict_11)


# In[12]:


df_11.head()

                                                  text sentiment
1    Could you catch us up on your latest thinking ...   Neutral
10   We continue to ramp up the activities for the ...   Neutral
100  Yes, it was sort of just how the conversation ...  Negative
101  Yes, we have talked extensively with customers...   Neutral
102  Next we go to Ron Epstein with Bank of America...   Neutral

In [47]:
with open('Team12_Chevron.json') as f:
    json_12 = json.load(f)


# In[8]:


dict_12 = dict(json_12)


# In[11]:


df_12 = pd.DataFrame.from_dict(dict_12)


# In[12]:


df_12.head()

                                                  text sentiment
1    Good morning. My name is Jonathan and I will b...   neutral
10   Thanks Mike. Turning to Slide 5, an overview o...   neutral
100  And so, there are times when we can fall in lo...  negative
101  Our next question comes from the line of Sam M...   neutral
102  Mike, I'm going to try to not ask you to say t...   neutral

In [52]:


frames = [df_1, df_2,df_3, df_5, df_6,df_7, df_8,df_9, df_10,df_11, df_12]

final_df = pd.concat(frames)


# In[18]:


final_df.head()


# In[19]:


final_df.shape


# In[21]:


final_df = final_df.reset_index()


# In[25]:


final_df.head()


# In[27]:


final_df = final_df.drop('index',axis=1)


# In[29]:


final_df.head()


# In[30]:


final_df.to_json('Complete.json')

In [55]:
final_df.head()

                                                text sentiment
0  Thank you, Ellen. We have a strong 2018, with ...  positive
1  Stock-based compensation totaled $2.3 billion....  positive
2  Operating income was $8.2 billion, up 7% versu...  positive
3  Our effective tax rate was 11.2% for the fourt...  positive
4  Turning now to CapEx and operating cash flow. ...   neutral

In [57]:
final_df

                                                   text sentiment
0     Thank you, Ellen. We have a strong 2018, with ...  positive
1     Stock-based compensation totaled $2.3 billion....  positive
2     Operating income was $8.2 billion, up 7% versu...  positive
3     Our effective tax rate was 11.2% for the fourt...  positive
4     Turning now to CapEx and operating cash flow. ...   neutral
5     Let me now turn to our segment financial resul...  positive
6     Other revenues for Google were $6.5 billion, u...  positive
7     Total traffic acquisition costs were $7.4 bill...  positive
8     In Q4, the network TAC rate declined year-on-y...  positive
9     Let me now turn to and talk about Other Bets. ...   neutral
10    For the full-year 2018, Other Bets revenues we...  negative
11    For the fourth quarter, revenues of $39.3 bill...  positive
12    Key recent accomplishments include: in Decembe...  positive
13    Let me close with some observations on our pri...  positive
14    In particular, we see significant ongoing pote...  positive
15    Machine learning is also driving differentiati...  positive
16    Second, during 2018, the FX tailwinds in the f...  positive
17    Turning to investments and profitability. In t...  positive
18    Within OpEx, we remain focused on prioritizati...  positive
19    While I've said previously that there is no mo...   neutral
20    We are increasingly following that approach in...  positive
21    Finally, on capital allocation. Our primary us...  positive
22    For today's call, I will begin with a review o...   neutral
23    With respect to CapEx, we continue to invest i...  positive
24    Thanks, Ruth. Last year, we set out to bring t...  positive
25    Google Al Lead, Jeff Dean recapped the results...  negative
26    We also launched the Google AI impact challeng...  positive
27    Everything we do at Google is united by the mi...  positive
28    As we do this, we feel a deep sense of respons...  positive
29    Today I will start by sharing some of the new ...  positive
...                                                 ...       ...
1533  The other thing when you’re growing your busin...  negative
1534  Just a very quick follow-up, can you talk abou...   neutral
1535  Yes, so, we have got the first well online and...   neutral
1536  Our next question comes from the line of Paul ...   neutral
1537  You mentioned that you've done about 150,000 a...  negative
1538  Yes, so, we will share lot more detail in Marc...   neutral
1539  And so, with our 2.2 million net acres and 1.7...  positive
1540  Our currently disclosed resource, there is 1.2...  positive
1541  Earlier this week, we announced a $0.07 per sh...  positive
1542  We are returns-driven and I mentioned that in ...   neutral
1543  And as you go through that kind of growth, you...  positive
1544  So, our Jay will talk a lot more about this in...   neutral
1545  Thanks Mike. And we know also that you have go...  positive
1546  Yes, so we were committed to capital disciplin...  negative
1547  The one thing that came up in the call earlier...   neutral
1548  And as our portfolio grows, we were up 5% in p...  positive
1549  Our next question comes from the line of Blake...   neutral
1550  Two questions for you. One: could you talk a l...   neutral
1551  Yes, I can give you quick update on Venezuela,...   neutral
1552  With that I'll, turn the call over to Pat who ...   neutral
1553  And I will say that the U.S. government has be...  positive
1554  We have got alternate sourcing. We have got pl...   neutral
1555  The second question: I know you've kind of cov...  negative
1556  I don’t want to speculate really we got one tr...   neutral
1557  Our next question comes from the line of Roger...   neutral
1558  I know all the really fun stuff has got to wai...  negative
1559  Yes, Roger, it’s a good question because our m...  negative
1560  On the under deepwater our incent was to have ...  negative
1561  And then just to beat the Pasadena refining ho...  negative
1562  I think there is a reason we disclose that bec...   neutral

[1563 rows x 2 columns]